.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  box-sizing: border-box;
  align-items: center;
  background-color: #292929;
  cursor: default;
}
.link {
  text-decoration: none;
  color: #fff;
}
